@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #fff;
	background: #fff;
	background-color: #5a6845;
}


a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}


/* ヘッダー
------------------------------------------------------------*/
#header{
	background-image: url("../images/movie2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
    overflow:hidden;
    width:100%;
    height:1080px;
}

.haikei{
    position:absolute;
    left:50%;
    width:100%;
    height:568px;
    margin-left:-640px;
}

.name{
	position:static;
	margin-left: -10px;
	width: 420px;
	bottom: 0;
}

oi span{
	list-style:none;
	font-size: 300%;
	color: #fff;
	}
	
	#slogan{
		position: absolute;
		top: 20%; /* adjust this value as needed */
		width: 100%;
		height: 1080px;
		color: #fff;
		line-height: 1.2;
		text-align: center;
		font-family: 'Josefin Slab', serif;
	  }

#slogan h1 span{
	font-size:40px;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 20px;
	font-weight:normal;
}

#slogan h3{
	font-size: 40px;
	font-weight:normal;
	font-family: 'Josefin Slab', serif;
}

.newTatle h1{
	font-size:300px;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 20px;
	font-weight:normal;
}



/* フッター
------------------------------------------------------------*/

#footer {
    position: fixed;
    bottom: 0;
    background-color: #5f6845;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 20px 0 0 0;
    font-size: 80%;
}

#newfooter{
	background-color: #a7956b;
	width: 100%;
    color: #fff;
    padding: 20px 0 0 0;
    font-size: 80%;
	bottom: 0;
}


/* 共通
------------------------------------------------------------*/
h1, h2{
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

img{
	width: 100%;
	height: auto;
}

section{clear:both;}

section h2{
	font-size: 22px;
	font-weight:normal;
	text-align: center;
}

.inner{
	width: 94%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.col2 li{
	display: inline-block;
	width: 100%;
  	margin: 20px 0 20px 0;
}
/*執事立ち絵*/
.men{
	width: "20px";
	height: "20px";
}
/* SEC01 VISION
------------------------------------------------------------*/

.vision{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 80px;
	font-size: 20px;
	text-align: center;
	font-weight : normal;
  }
section h3{
	font-size: 35px;
	text-align: center; /* 追加 */
	display: flex; /* 追加 */
	justify-content: center; /* 追加 */
	align-items: center; /* 追加 */
	height: 100%; /* 追加 */
}

#sec01 h2{
	padding: 0 0 20px !important;
	font-size: 200%;
	font-weight : bold;

}

/* SEC02 MESSAGE
------------------------------------------------------------*/
.wrap{
	clear: both;
	width: 100%;
	background: #f6f6f6;
}

.bg{
	line-height: 0;
}

.txt h2{
	padding: 0 0 20px !important;
}

/* SEC04 サービス
------------------------------------------------------------*/
.sake{
	width: 240px;
}
.john{
	width: 260px;
}
.p1{
	width: 250px;
}
#sec02 li{
	font-size: 100%;
	font-weight : bold;
}
#sec02 h2{
	font-size: 150%;
	font-weight : bold;
}
#sec02 h2 span{
	font-size: 200%;
	font-weight : bold;
}
/* SEC05 PROFILE
------------------------------------------------------------*/
#sec05{
	height: 500px;
	background-color: #a7956b
	
}
#sec05 li{
	font-size: 200%;
	font-weight : bold;
}

#sec05 h2{
	font-size: 200%;
	font-weight : bold;
	margin-top: 0;
	padding: 0 0 10px !important;
}

#sec05 dt{
	
	clear: left;
	float: left;
	display: block;
	width: 35%;
	margin-right: 10%;
	margin-bottom: 20px;
	text-align: right;
	line-height: 1.6em;
}

#sec05 dd{
	width: -100%;
	float: left;
	text-align: left;
	margin-bottom: 15px;
	line-height: 1.6em;
}


#men{

width: 300px;
}
/* SEC06 new
------------------------------------------------------------*/
#newheader h3{
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 50px;
  }
  .sec06{ 
	background-color: #a7956b;
	height: 800px;
}

.sec06 h2 {
	background-color: #5f6845; /* 背景色を変更 */
	font-size: 40px; /* フォントサイズを変更 */
	height: 60px;
	padding: 10px 0;
}

#sec06 dt{
	clear: left;
	float: left;
	display: block;
	width: 100%;
	margin-right: 10%;
	margin-bottom: 20px;
	text-align: right;
	line-height: 1.6em;
	margin-top: 20px; /* 修正 */
}

#sec06 dd{
	width: 60%;
	float: left;
	text-align: left;
	margin-bottom: 15px;
	line-height: 1.6em;
	margin-top: 10px;
}

.newqes{
	font-size: 240%;
	margin-top: 20px; /* 修正 */
	display: block; /* 追加 */
	clear: both; /* 追加 */
}

.newqes label:nth-of-type(2) {
    position: relative;
    top: 20px; /* 20px下に移動 */
}

.newans{
	font-size: 240%;
	margin-top: 20px; /* 修正 */
	display: block; /* 追加 */
	clear: both; /* 追加 */
	font-weight: bold;
	text-align: left;
}

.sec06 .newqes{
	margin-bottom: 10px;
}

.sec06 .newqes label {
	display: block;
	margin-bottom: 5px;
}

.pos {
	width: 150px; /* 画像の幅を150ピクセルに設定 */
	float: left; /* 画像を左側に寄せる */
	margin-right: 20px; /* 画像の右側に20ピクセルの余白を作る */
  }

#mens {
	width: 300px;
	float: right;
	}

/* SEC07 ans
------------------------------------------------------------*/
#newheader {
	background-image: url("../images/movie2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
    overflow:hidden;
    width:100%;
    height:100px;
}

#newheader h3{
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 50px;
}

.sec07{ 
	background-color: #a7956b;
	height: 700px;
}

.sec07 h2 {
	background-color: #0d5058; /* 背景色を変更 */
	font-size: 40px; /* フォントサイズを変更 */
	height: 60px;
	padding: 10px 0;
}

#sec06 dt{
	clear: left;
	float: left;
	display: block;
	width: 100%;
	margin-right: 10%;
	margin-bottom: 20px;
	text-align: right;
	line-height: 1.6em;
	margin-top: 20px; /* 修正 */
}

#sec06 dd{
	width: 60%;
	float: left;
	text-align: left;
	margin-bottom: 15px;
	line-height: 1.6em;
	margin-top: 10px;
}

button[type="submit"] {
	display: block;
	margin-top: 20px;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #5f6845;
	color: #fff;
	position: absolute;
	bottom: 320px;
	left: 280px;
	z-index: 1;
  }
  
  input[type="radio"] {
	transform: scale(2);
	margin-right: 10px;
	margin-top: 10px;
  }
.newqes{
	font-size: 240%;
	margin-top: 20px; /* 修正 */
	display: block; /* 追加 */
	clear: both; /* 追加 */
}

.newans{
	font-size: 240%;
	margin-top: 20px; /* 修正 */
	display: block; /* 追加 */
	clear: both; /* 追加 */
	font-weight: bold;
	text-align: center;
}

.sec06 .newqes{
	margin-bottom: 10px;
}

.sec06 .newqes label {
	display: block;
	margin-bottom: 5px;
}

.pos {
	width: 150px; /* 画像の幅を150ピクセルに設定 */
	float: left; /* 画像を左側に寄せる */
	margin-right: 20px; /* 画像の右側に20ピクセルの余白を作る */
}



/* RESPONSIVE 設定
------------------------------------------------------------*/

@media only screen and (min-width: 1200px){
	.inner{
		width: 1024px;
		padding-bottom: 120px;
	}
	section h2{
		padding: 70px 0 20px;
	}
	.txt h2{
		padding: 0 0 20px !important;
	}
}

@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}
	
  a#menu{
		display:none;
	}	

	.panel{
		display:block !important;
	}

	#mainnav{
		position:fixed;
		top: 0;
		width:100%;
		z-index:500;
	}

	#mainnav ul{
		text-align: right;
		padding-right: 30px;
	}

	#mainnav li{
		display: inline-block;
		padding: 45px 10px 20px;
		font-size: 14px;
		font-weight: 300;
	}
	
  #mainnav a{
		color: #fff;
		font-weight : bold;
	}
	
	#mainnav.changeNav{
		background: rgba(85,107,47,0.9);
		border-bottom: 1px solid #000;
	}
	
	#mainnav.changeNav li{
		padding: 20px 10px;
	}

	/* SEC02 MESSAGE
	-----------------*/
	.txt, .bg{
		width: 50%;
		float: left;
		display: table;
	background: #030;
	}

	#sec02_02 .txt, #sec02_02 .bg{
		float: right;
	}

	.vMid{
		display: table-cell;
		padding: 0 100px;
		vertical-align: middle;
	}
	
	/* SEC03 SERVICE MESSAGE STORY
	-----------------*/
	.col3{
		text-align: center;
	}

	.col3 li{
		display: inline-block;
		width: 30%;
		padding: 0 1.5%;
		margin-bottom: 0;
		vertical-align: top;
		text-align: left;
	}
	
	/* SEC05 PROFILE
	-----------------*/
	#sec05{
		padding-top: 120px;
	}
	
  #footer{
		padding: 30px 10px 70px 0;
	}
}

@media only screen and (min-width: 641px){
	.col2 li{
		width: 40%;
		padding: 0 3%;
		vertical-align: top;
	}
}

@media only screen and (max-width: 640px){
	#map iframe{
	  width: 96% !important;
		left: 2%;
	}
}

@media only screen and (max-width: 799px){
	#slogan h1{
		font-size: 31px;
	}

	#slogan h2{
		font-size: 16px;
	}

  a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #030;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #000;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #000;
		background: #a98775;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #000;
		color: #000;
		font-weight: 400;
	}

	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #a98775;
		border-right: solid 2px #a98775;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.col3 li{
		margin: 0 auto;
		display: block;
	max-width: 288px;
	}
}

@media only screen and (max-width: 1199px){
	section h2{
		padding: 50px 0 20px 0;
	}
	#sec01 h2{
		padding: 70px 0 20px;
	}
	.vMid{
		padding: 0 20px;
	}
}